*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    /* background: 0 0; */
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    outline: 0;
    list-style: none;
  }
  img{
    width: 100%;
    display: block;
  }
  
  .App {
    text-align: center;
  }

@font-face {
    font-family: "baloo_paaji_2regular";
    src: url("./components/assets/fonts/baloopaaji2-regular-webfont.woff2")
            format("woff2"),
        url("./components/assets/fonts/baloopaaji2-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}
